{% extends "bills/main.html" %}

{% block title %} {% endblock %}

{% block main %}
  <form method = "post">
    <div class = "card-style mb-30">
      <h6 class = "mb-25"> Editar o custo de {{ b.name }} </h6>

      <div class = "input-style-1">
        <label> Custo (Db) </label>
        <input type = "number" name = "cost" id = "cost" placeholder = "0" step = 0.01 required = True min = 0/>
      </div>

      <div class = "input-style-1">
        <button type = "submit" id = "menu-toggle" class = "main-btn primary-btn btn-hover">
          Confirmar
        </button>
      </div>
    </div>
  </form>
{% endblock %}