{% extends "base.html" %}

{% block title %} {% endblock %}

{% block main %}
  <div class="card-style mb-30">
    <h1 class="mb-30"> Constitução de Loja Quaresma </h1>

    <p style = "text-align: center; margin-bottom: 20px;">
      Feito 3 novembro 2025
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 1: Denominação, Sede e Duração
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      A sociedade denomina-se Loja Quaresma Limitada, tem a sua sede em 
      Madalena, e constitui-se por tempo indeterminado.
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 2: Objeto Social
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      A sociedade tem por objeto principal vender bens para a comunidade local 
      ganhar o lucro máximo nesta atividade. Em segundo lugar, a sociedade 
      trabalhará em aliança com as outras organizações do acionista maioritário 
      para promover os objetivos dessas organizações.
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 3: Capital
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      Para estabelecer a empresa, Scott fornecerá 65.000 Db. Em novembro 2025 
      25.000 Db será investido, em dezembro 2025 10.000 Db será investido, em 
      fevereiro 2026 10.000 Db será investido, em abril 2026 10.000 Db será 
      investido e finalmente em julho 2026 10.000 Db será investido. Scott 
      Masters deterá 70% da empresa, enquanto Pascoal Quaresma deterá 30% da 
      empresa.
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 4: Gerência
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      A gerência dia a dia será exercida por o gerente Pascoal Quaresma, com os 
      poderes para representar e obrigar a sociedade em todos os atos e 
      contratos que integrem o objeto social. A maioria dos acionistas pode 
      anular a decisão do diretor em decisões comerciais importantes, incluindo, 
      entre outras, a contratação de novos funcionários, a abertura e o 
      fechamento de lojas ou mudar o gerente.
    </p>

    <p style = "text-align: justify; margin-bottom: 20px;">
      O diretor trabalhará na empresa durante todo o horário de funcionamento da 
      loja e também realizará tarefas como compras de mercadorias fora desse 
      horário. Por esse trabalho, o diretor receberá um salário de 800 Db por 
      semana, que não é sujeito a pagamento em dobro em dezembro. O pagamento 
      será efetuado ao final do expediente de sexta-feira.
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 5: Documentação
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      A empresa manterá uma cópia de suas contas, incluindo todas as receitas e 
      despesas, no endereço lojasSTP@pythonanywhere.com. Essa responsabilidade 
      caberá ao diretor.
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 6: Utilização dos lucros
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      Ao final de cada mês, o lucro da empresa será calculado de acordo com as 
      normas internacionais de contabilidade de caixa. O diretor decidirá se 
      distribuirá esse lucro, se o reinvestirá no negócio ou se o dividirá entre 
      distribuição e reinvestimento. Prejuízos do mês anterior serão 
      transferidos para o mês seguinte e subtraídos do valor disponível para 
      distribuição. O dinheiro distribuído será pago aos acionistas 
      proporcionalmente às ações que detêm. A maioria dos acionistas poderá 
      exigir a distribuição do lucro se a empresa possuir mais de 100.000 Db em 
      caixa.
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 7: Bancos
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      O caixa líquido do negócio vai ficar no Portal. Todas distribuições dos 
      lucros será enviou para as acionistas através o Portal.
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 8: Código de Conduta
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      O gerente do negocio não pode oferecer presentes ou descontos à amigos e 
      familiares. Os produtos da loja pertencem à loja, não a Pascoal 
      pessoalmente. A exceção é que os funcionários da loja, incluindo o 
      gerente, podem comprar produtos a preço de custo para uso pessoal.
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 9: Competição
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      Enquanto estão envolvendo na Loja Quaresma, é até seis mêses depois, um 
      acionista não é permitido abrir uma outra loja vendendo qualquer das 
      mesmas coisas, dentro de 1km de uma localidade de Loja Quaresma.
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 10: Alterações
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      Uma alteração da constituição requer a aprovação unânime de todos os 
      acionistas.
    </p>

    <h4 class = "mb-10" style = "text-align: center; margin-top: 10px;"> 
      Cláusula 11: Disposições Finais 
    </h4>

    <p style = "text-align: justify; margin-bottom: 20px;">
      Para todos os casos omissos, aplicam-se as disposições do Código das 
      Sociedades Comerciais de São Tomé e Príncipe.
    </p>

  </div>
{% endblock %}