{% extends "base.html" %}

{% block main %}
  <form method = "post">
    <div class = "card-style mb-30">
      <h6 class = "mb-25"> Registre uma venda </h6>

      <div class = "select-style-1">
        <label> Produto </label>
        <div class = "select-position">
          <select id = "product" name = "product" required = True>
            <option value = "" disabled selected> Escolhe Produto </option>
            {% for g in goods %}
              <option value = {{g.id}}> {{g.name}} ({{g.unit}}) </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class = "input-style-1">
        <label> Quantidade </label>
        <input type = "number" name = "quantity" id = "quantity" placeholder = "0" step = 1 required = True min = 0/>
      </div>

      <div class = "select-style-1">
        <label> Promoções </label>
        <div class = "select-position">
          <select id = "promotion" name = "promotion" required = True>
            <option value = "none" selected> Nenhum </option>
            <option value = "worker"> Funcionário </option>
          </select>
        </div>
      </div>

      <div class = "input-style-1">
        <button type = "submit" id = "menu-toggle" class = "main-btn primary-btn btn-hover">
          Colocar
        </button>
      </div>

    </div>
  </form>
{% endblock %}